.main {
  max-width: 45lvw;

  padding: 20px;

  background-color: cadetblue;

  transform: matrix(
    0.3,
    0,
    0.5,
    1,
    0,
    0,
  ) translateY(500px);

  box-shadow: 10px 10px 0 0 #000000;

  p {
    font-size: 25px;
  }

  &:nth-of-type(even) {
    margin-left: auto;
  }
}

.twist_animation {
  animation: twist .5s ease-out forwards;
}

@keyframes twist {
  0% {
    transform: matrix(
      0.3,
      0,
      0.5,
      1,
      0,
      0,
    ) translateY(0);
    opacity: 0;
  }
  50%{
    transform: matrix(
      1,
      0,
      0,
      1,
      0,
      0,
    );
    opacity: 1;
  }
  60% {
    transform: matrix(
      0.95,
      0,
      -0.05,
      1,
      0,
      0,
    );
  }
  // 70% {
  //   transform: matrix(
  //     1,
  //     0,
  //     0,
  //     1,
  //     0,
  //     0,
  //   );
  // }
  // 80% {
  //   transform: matrix(
  //     0.95,
  //     0,
  //     0.05,
  //     1,
  //     0,
  //     0,
  //   );
  // }
  100%{
    transform: matrix(
      1,
      0,
      0,
      1,
      0,
      0,
    ) translateY(0);
    opacity: 1;
  }
}
