.container {
  display: inline-block;

  width: fit-content;
  height: 33px;

  margin: 5px 0;

  overflow: hidden;
  transform: translateY(11px);

  .main,
  .copy {
    position: relative;

    font-size: 25px;
    user-select: none;

    span {
      position: relative;
      top: 0;
      transition: all .2s;
    }
  }
}
